#box {
  position: fixed;
  width: 300px;
  background-color: gray;
  border-width: 1px;
  border-style: outset;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: 5px outset;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
}
#box * {
  margin: 5px;
}
#box div {
  display: flex;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear {
  border-radius: 10px;
}

#display {
  align-items: center;
  justify-content: end;
  border: 2px solid;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 25px;
}
#num {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.num {
  width: 50px;
  border-radius: 10px;
}
#op {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 75px;
  border-radius: 10px;
}
.op {
  width: 50px;
  border-radius: 10px;
}
